extends layout.pug

block title
  title= 'Database'
  - var selected = 'database'

block content
    h1= 'Database settings (Drop connection)'
    p= 'You are connected. Do you want to drop the connection?'
    b= '' + message
    form(method='post', action='/db-drop')
      input(type='submit', value='drop connection')