extends layout.pug

block title
  title= 'Database'
  - var selected = 'database'

block content
    h1= 'Database settings'
    p= 'The application works only with a connection to a Neo4j-database. It can be local or remote.'
    p= message
    form(method='post', action='.')
      input(type='text', name='url', value='bolt://localhost:7687')
      input(type='text', name='user', value='neo4j')
      input(type='text', name='password', value='1234')
      input(type='submit', value='save')